<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Quote of the Day</title>
        <script src="/static/main.js" defer></script>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <span id="main" class="stage">
            <span id="title" hidden>Home</span>
            <h1>Quote of the day.</h1>
            <div id="main_quote" class="main_quote">
                <h3>Loading...</h3>
                <p>- <span id="author" class="author">Loading...</span></p>
                <button class="vote">0</button>
            </div>
            <h3>Other quotes from today</h3>
            <div class="quote">
                <h4>Loading...</h3>
                <p>- <span id="author" class="author">Loading...</span></p>
                <button class="vote">0</button>
            </div>
            <br>
            <div class="quote">
                <h4>Loading...</h3>
                <p>- <span id="author" class="author">Loading...</span></p>
                <button class="vote">0</button>
            </div>
            <br>
            <div class="quote">
                <h4>Loading...</h3>
                <p>- <span id="author" class="author">Loading...</span></p>
                <button class="vote">0</button>
            </div>
            <br>
            <div class="quote">
                <h4>Loading...</h3>
                <p>- <span id="author" class="author">Loading...</span></p>
                <button class="vote">0</button>
            </div>
            <h3><a href="#" onclick="open('archive')">Archive</a></h3>
        </span>
        <span id="archive" class="stage" hidden>
            <span id="title" hidden>Archive</span>
            <h1>Archive</h1>
            <div class="search">
                <input type="text" id="search" placeholder="Search for a quote...">
                <button id="search_button">Search</button>
            </div>
            <div class="quote">
                <h4>Loading...</h3>
                <p>- <span id="author" class="author">Loading...</span></p>
                <button class="vote">0</button>
            </div>
            <br>
            <div class="quote">
                <h4>Loading...</h3>
                <p>- <span id="author" class="author">Loading...</span></p>
                <button class="vote">0</button>
            </div>
            <br>
            <div class="quote">
                <h4>Loading...</h3>
                <p>- <span id="author" class="author">Loading...</span></p>
                <button class="vote">0</button>
            </div>
            <br>
            <div class="quote">
                <h4>Loading...</h3>
                <p>- <span id="author" class="author">Loading...</span></p>
                <button class="vote">0</button>
            </div>
            <h3><a href="#" onclick="open('main')">Main</a></h3>
    </body>
</html>